select, option {
	color: #000000;
	font-style: normal;
}
.placeholder {
	color: #6d6d6d;
	font-style: italic;
}
/* .fill {
	min-width: 0px;
	width: 100%;
} */
option[disabled] {
	color: #6d6d6d;
}
input::placeholder {
	font-style: italic;
}

textarea[readonly] {
	resize: none;
	tab-size: 4;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.image-item {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	margin-bottom: 2px;
}
.image-item * {
	margin-right: 5px;
}

td input {
	width: 90%;
}